@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap");

.main {
  display: flex;
  /* background: var(--main-bg); */
  background-image: url("/mountains2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(15, 15, 15, 0.588);
}

.content {
  padding: 2rem;
  color: var(--text-color);
  font-family: "JetBrains Mono", monospace;
  flex: 1;
  height: 85vh; /* this is the height available for the content below the tabs */
  overflow-y: auto;
  scroll-behavior: smooth;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-left: 1px solid #1e1f29;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--scrollbar-thumb-bg);
  border-left: 1px solid #1e1f29;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 2rem 1rem;
  }
}
