.container {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
}

.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  /* max-height: 1100px;
  max-width: 800px; */
  width: 100%;
  height: 100%; /* Cover the entire viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  overflow-y: auto;
}

.modalContent {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  height: 100%;
  max-width: 600px;
  max-height: 580px;
  overflow-y: auto;
  /* Add additional styles for modal content appearance */
}

.cta {
  display: flex;
  padding-top: 24px;
  gap: 1rem;
}

.icon {
  margin-left: 8px; /* Adjust the gap between the text and icon */
}

.tag {
  display: inline-flex; /* Align text and icon horizontally */
  align-items: center; /* Center items vertically */
  padding: 0.5rem 1rem; /* Add padding around the text and icon */
  background-color: #8e24aa; /* Background color */
  color: #fff; /* Text color */
  border-radius: 20px; /* Rounded corners for pill effect */
  text-decoration: none; /* Remove underline */
  font-size: 0.9rem; /* Adjust font size */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); /* Initial shadow effect */
}
.tag:hover {
  box-shadow: 0 0 8px rgba(231, 174, 244, 0.845); /* Glowing shadow effect on hover */
}

.demoTag {
  display: inline-flex; /* Align text and icon horizontally */
  align-items: center; /* Center items vertically */
  padding: 0.5rem 1rem; /* Add padding around the text and icon */
  background-color: #0c2340; /* Background color */
  color: #fff; /* Text color */
  border-radius: 20px; /* Rounded corners for pill effect */
  text-decoration: none; /* Remove underline */
  font-size: 0.9rem; /* Adjust font size */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); /* Initial shadow effect */
}
.demoTag:hover {
  box-shadow: 0 0 8px #007fff; /* Glowing shadow effect on hover */
}

.underline {
  padding: 0.2rem 0;
  font-size: 0.9rem;
  letter-spacing: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    var(--accent-color) 100%,
    var(--accent-color) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline:hover {
  background-size: 100% 88%;
}

.closepreview {
  display: flex;
  flex-direction: row-reverse;
}

.closeBtn {
  display: flex;
  height: 48px;
  width: 48px;
  cursor: pointer;
  color: white;
}

.imageSlider {
  margin: 16px 8px;
  /* top bottom | left right */
}
.projectDetails {
  padding: 24px 8px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 16px 0px;
}

.description {
  padding-bottom: 16px;
}

.additionalDetails {
  padding-bottom: 16px;
}
